<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Bank Balance</title>
    <link rel="stylesheet" href="../static/assets/css/main.css">
</head>
<body>
    <header>
        <div class="container">
            <h1 class="logo">EASYBANK</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/statement">View Account Statement</a></li>
                    <li><a href="/transfer">Transfer Funds</a></li>
                    <li><a href="/contact">Customer Support</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="content">
        <div class="container">
            <h2>Check Bank Balance</h2>
            <p>your current bank balance is:<strong>{{ balance}} </strong></p>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 EASYBANK. All rights reserved.</p>
    </footer>
</body>
</html>
